/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: rgb(0, 0, 0);

}

/* hero background image */
.bgimage {
  height: 100vh;
  background-size: cover;
}

/* Background Stars Animation */
#stars {
  background: rgb(111, 111, 237);
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block {
  position: relative;
  height: 100%;
  background-image: radial-gradient(circle at 50% 90%,
      #385c78,
      #011735 79%,
      #010e1f);
  overflow: hidden;
  box-sizing: border-box;
}

.block:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./heroImg.png");
  background-size: cover;
  animation: stars 10s linear infinite alternate;
}

.block:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./heroImgg.png");
  background-size: cover;
  animation: stars 30s linear infinite alternate;
}

@keyframes stars {
  0% {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
  }

  100% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }
}

/* Wave Animation */
.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}



/* Scroll Down Animation */
.box {
  position: absolute;
  top: 117%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {

  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* Hero Shiny text animation */
.text-animation {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  background: linear-gradient(90deg, #000, #f5f5f5, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
  animation: shine 8s ease-in-out infinite;
}

.text-animation h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.text-animation p {
  font-size: 25px;
  font-weight: 600;
}

@keyframes shine {
  from {
    background-position-x: -500%;
  }

  to {
    background-position-x: 500%;
  }
}

#skills {
  color: white;
}


/* Resume and skills stars animation */
#resume {

  background-color: black;
  background-image: url("./stardust.png");
  animation: glows 30s linear infinite;
}

@keyframes glows {
  0% {
    background-position: 0 0;
  }

  100% {
    /* the size of the background image */
    background-position: 798px -798px;
  }
}










/* For demonstration purposes only: */
body {
  font-size: 3.5em
}

h1 {
  font-size: 0.5em
}

/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}

.hero_desc {
  font-size: 2.5rem;
  text-align: center;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
  margin-top: 4rem;
  padding-top: 4rem;
} */
#contact {
  padding-bottom: 4rem;
}

/* about section image css */
.imageAboutPage {
  width: 100%;
  padding-bottom: 4em;
}

/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}

.servicesIcon {
  font-size: 50px;
  text-align: center;
  width: 100%;
}

.card-title {
  text-align: center;
}

.card:hover .servicesIcon {
  color: rgb(111, 111, 237);
}

.servicesText:hover {
  border: 1px solid rgb(111, 111, 237);
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-twitch:hover {
  color: #008000;
}

.fab {
  color: #000000;
}

/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}


/* .glowIntro{
  font-family: lobster;
  font-size: 3.5em;
  animation-name: glowAnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes glowAnim {
    from {
      text-shadow:  0px 0px 10px rgba(255,255,255,0),
                    0px 0px 30px rgba(255,255,255,0.3),
                    0px 0px 50px rgba(255,255,255,0.6),
                    0px 0px 180px rgba(255,255,255,0.9);
    	color: #fff;
    }
    to {
      	text-shadow: 0 0 5px rgba(0,5px,5px,1);
    }
} */